.Background {
    height: 100vh;
    background: #0A9396;
    position:fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -999;
    display: flex;
    justify-content: center;
}

.Background img {
    -webkit-animation: spin 25s linear infinite;
    -moz-animation: spin 25s linear infinite;
    animation: spin 25s linear infinite;
    left: 0;
    right: 0;
    position: absolute;
    width: 250vh;
    margin-top: 200px;
}

@-webkit-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100%{-webkit-transform: rotate(360deg);}
}