.OverlayModal {
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    margin: auto;
}

.ModalContainer {
    position: absolute;
    width: 120vh;
    height: 50vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background: #A47FB8;
    border: 5px solid black;
    padding: 5px 15px 35px 15px;
    box-shadow: black 3px 3px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}

.ModalContainer button {
    margin-top: 10px;
    background: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    padding: 5px 25px 5px 25px;
    font-weight: 800;
    border: 5px solid black;
    box-shadow: black 2px 2px;
}